/*Mogammad Allie Cornelius   Student Number: 16423743*/

html {
    height: 100%;
}

body {
    background-color: #cceeff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav ul{
    list-style-type: none;
    padding: 0.5rem;
    overflow: hidden;
    background-color: #002233;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

.nav li {
    float: left;
    padding: 15px;
}

.nav li a {
    display: flex;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
    list-style-type: none;
}


/*lines 13-33 is the styles that are applied to the navigation pane. This tells the browser how to display the content.*/

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;
}

.aclogo {
    float: right;
    width: 65px;
    height: 65px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #002233;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 1.250em;
}

.title-text {
    font-family: 'Josefin Slab', serif;
    font-size: 2.8125em;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    text-decoration: underline;
}

.subheading {
    font-family: 'Josefin Slab', serif;
    font-size: 1.875em;
    text-shadow: 4px 4px 4px #aaa;
    text-align: left;
    margin-left: 20px;
}

.subheading2 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.5625em;
    text-shadow: 4px 4px 4px #aaa;
    text-align: left;
    margin-left: 20px;
}

.a-portrait {
    display: flex;
    width: 250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.biographytext1 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.biographytext2 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.biographytext3 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
}

/*this is used to set the style for the different divs on the biography page.*/

/*@media screen and(max-width:480px) {
    .biographytext2 {
        column-count: 2;
    }
}
*/

.bungeeimg {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex
}

.bosnia1 {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 350px;
    display: flex;
}

.form1 {
    margin: auto;
    width: 12%;
    font-family: 'Josefin Slab', serif;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.25em;
}

input[type=text] {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #002233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    display: flex;
}

input[type=submit]:hover {
    background-color: #45a049
}

#query {
    padding: 30px;
}


/*code from lines 150-185 is related to the form on the contact page. All the code contained within these lines, guides the browser on how to display the content on the webpage. These styles are all used to match the style of my website and to ensure that a similar style is applied to all of the elements on the webpage.*/

.contacttext {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 50px;
    display: flex;
}

.personalprof {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.cvimg {
    float: right;
    display: flex;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

ul.schools {
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    text-align: left;
    font-size: 1.25em;
    display: flex;
}

ul.schools li {
    padding-bottom: 5px;
}
/*there is consistent use of padding to ensure that there is enough whitespace around elements of the webpage, this makes it easier for people to read and adds to the overall aesthetics of the website. */

.experience {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.skills {
    font-family: 'Josefin Slab', serif;
    font-size: 1.25em;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.homeicon {
    height: 45px;
    width: 45px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.bioicon {
    height: 38px;
    width: 38px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.contacticon {
    height: 45px;
    width: 45px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.cvicon {
    height: 42px;
    width: 42px;
    float: left;
    display: flex;
    padding-top: 10px;
}


/*all icons used are from https://www.iconfinder.com/ all icons are copyright free.*/


/*all fonts are expressed in terms of "em" to calculate px to em i had  used a calculator provided by w3schools @ http://www.w3schools.com/tags/ref_pxtoemconversion.asp*/


/*CSS validated to have 0 errors. CSS has been validated using https://jigsaw.w3.org/css-validator */
