html {
    height: 100%;
}

body {
    background-color: #cceeff;
    margin: 0;
    padding: 0;
    height: 100%;
}

ul.nav {
    list-style-type: none;
    padding: 0.5rem;
    overflow: hidden;
    background-color: #002233;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

ul.nav li {
    float: left;
    padding: 15px;
}

ul.nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;
}

.aclogo {
    float: right;
    width: 65px;
    height: 65px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #002233;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.title-text {
    font-family: 'Josefin Slab', serif;
    font-size: 45px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    text-decoration: underline;
}

.subheading {
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: left;
    margin-left: 20px;
}

.subheading2 {
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: left;
    margin-left: 20px;
}

.a-portrait {
    display: flex;
    width: 250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.biographytext1 {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.biographytext2 {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.biographytext3 {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
}

@media screen and(max-width:480px) {
    .biographytext2 {
        column-count: 2;
    }
}

.bungeeimg {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex
}

.bosnia1 {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 350px;
    display: flex;
}

.form1 {
    margin: auto;
    width: 12%;
    font-family: 'Josefin Slab', serif;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 20px;
}

input[type=text] {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #002233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    display: flex;
}

input[type=submit]:hover {
    background-color: #45a049
}

#query {
    padding: 30px;
}

.contacttext {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 50px;
    display: flex;
}

.personalprof {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.cvimg {
    float: right;
    display: flex;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

ul.schools {
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    text-align: left;
    font-size: 20px;
    display: flex;
}

ul.schools li {
    padding-bottom: 5px;
}

.experience {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.skills {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.homeicon {
    height: 45px;
    width: 45px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.bioicon {
    height: 38px;
    width: 38px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.contacticon {
    height: 45px;
    width: 45px;
    float: left;
    display: flex;
    padding-top: 10px;
}

.cvicon {
    height: 42px;
    width: 42px;
    float: left;
    display: flex;
    padding-top: 10px;
}
